@model SportsStore.Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "SportStore: Checkout";
}
<div class="checkout">
    <h2>Оплатить сейчас</h2>
    Пожалуйста, введите ваши данные, и мы отправим ваш товар прямо сейчас!
    @using (Html.BeginForm())
    {

        @Html.ValidationSummary()

        <h3>Отправить</h3>
        <div>Ф.И.О.: @Html.EditorFor(x => x.Name)</div>

        <h3>Адрес</h3>
        <div>Улица: @Html.EditorFor(x => x.Line1)</div>
        <div>Дом: @Html.EditorFor(x => x.Line2)</div>
        <div>Квартира: @Html.EditorFor(x => x.Line3)</div>
        <div>Город: @Html.EditorFor(x => x.City)</div>
        <div>Область: @Html.EditorFor(x => x.State)</div>
        <div>Индекс: @Html.EditorFor(x => x.Zip)</div>
        <div>Страна: @Html.EditorFor(x => x.Country)</div>

        <h3>Дополнительно</h3>
        <label>
            @Html.EditorFor(x => x.GiftWrap)
            Обернуть в подарочную бумагу
        </label>

        <p align="center">
            <input class="actionButtons" type="submit" value="Сделать заказ" />
        </p>
    }
</div>
